.green_style{
    background-color: lightgreen;
    color : rgb(0, 0, 0);
}

.red_style{
    background-color: lightcoral;
    color : rgb(0, 0, 0);
}

.big_wood_style{
    background-color: rgb(128, 154, 240);
    color : rgb(0, 0, 0);
}