.green_style{
    background-color: lightgreen;
    color : rgb(0, 0, 0);
}

.red_style{
    background-color: lightcoral;
    color : rgb(0, 0, 0);
}

.big_wood_style{
    color : rgb(117, 138, 206);
    font-size : 20px;
}